.projects {
  height: 14rem;
}

.squares {
  --u: 13px;
  --c1: #a29478;
  --c2: #616c7f;
  --c3: #414c66;
  --gp: 50% / calc(var(--u) * 10) calc(var(--u) * 8);
  --dg: 0 25%, #fff0 0 100%;
  --dr: from 45deg at;
  --dl: from -135deg at;
  --du: from -45deg at 50%;
  --dd: from 135deg at 50%;
  background: 
	/*right*/ conic-gradient(var(--dr) 86% 62%, var(--c1) var(--dg))
      var(--gp),
    conic-gradient(var(--dr) 76% 62%, var(--c3) var(--dg)) var(--gp),
    conic-gradient(var(--dr) 74.5% 62%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dr) 65% 62%, var(--c2) var(--dg)) var(--gp),
    conic-gradient(var(--dr) 63.5% 62%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dr) 56% 62%, var(--c3) var(--dg)) var(--gp),
    conic-gradient(var(--dr) 54.5% 62%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dr) 50% 62%, var(--c2) var(--dg)) var(--gp),
    /*left*/ conic-gradient(var(--dl) 14% 62%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dl) 24% 62%, var(--c3) var(--dg)) var(--gp),
    conic-gradient(var(--dl) 25.5% 62%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dl) 35% 62%, var(--c2) var(--dg)) var(--gp),
    conic-gradient(var(--dl) 36.5% 62%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dl) 44% 62%, var(--c3) var(--dg)) var(--gp),
    conic-gradient(var(--dl) 45.5% 62%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dl) 50% 62%, var(--c2) var(--dg)) var(--gp),
    /*up*/ conic-gradient(var(--du) 19%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--du) 31%, var(--c3) var(--dg)) var(--gp),
    conic-gradient(var(--du) 33%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--du) 43.5%, var(--c2) var(--dg)) var(--gp),
    conic-gradient(var(--du) 45.5%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--du) 55%, var(--c3) var(--dg)) var(--gp),
    conic-gradient(var(--du) 57%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--du) 66%, var(--c2) var(--dg)) var(--gp),
    /*down*/ conic-gradient(var(--dd) 81%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dd) 69%, var(--c3) var(--dg)) var(--gp),
    conic-gradient(var(--dd) 67%, var(--c1) var(--dg)) var(--gp),
    conic-gradient(var(--dd) 58%, var(--c2) var(--dg)) var(--gp);
}

.squares > article > header {
  color: rgb(255, 255, 255);
  background: rgb(99, 108, 125);
  border-color: rgb(160, 149, 123);
  border-style: solid;
  border-width: 0.18rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.squares > article > header > a {
  color: rgb(255, 255, 255);
}

.squares > article > div > a {
  background: rgb(67, 76, 100);
  color: white;
  height: 3.5rem;
  padding: 10px;
  border-color: rgb(160, 149, 123);
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.squares > article > div > a > svg {
  color: rgb(160, 149, 123);
}

.lava-lamp {
  background: radial-gradient(
    #471a19 30%,
    #290f0e 60%,
    #120706 80%,
    #050202 90%,
    #000000 100%
  );
  color: black;
}

.lava-lamp > article > div > a {
  background: radial-gradient(
    #ff9c12 0%,
    #fa9712 30%,
    #ed8a14 50%,
    #d67316 70%,
    #b65419 80%,
    #9c3a1c 100%
  );
  opacity: 0.9;
  border-radius: 92% 90% 100% 63% / 100% 87% 100% 100%;
  padding: 0.4rem;
  color: black;
}

.lava-lamp > article > header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(
    #ff9c12 0%,
    #fa9712 30%,
    #ed8a14 50%,
    #d67316 70%,
    #b65419 80%,
    #9c3a1c 100%
  );
  opacity: 0.9;
  border-radius: 67% 43% 53% 53% / 49% 50% 48% 51%;
  height: 7rem;
}

.waves {
  background-color: #fdf8d7;
}

.waves > article > div{
 background-image: url("data:image/svg+xml,%3Csvg class='waves' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%0AviewBox='0 24 150 28' preserveAspectRatio='none' shape-rendering='auto'%3E%3Cdefs%3E%3Cpath id='gentle-wave' d='M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z' /%3E%3C/defs%3E%3Cg class='parallax'%3E%3Cuse xlink:href='%23gentle-wave' x='48' y='7' fill='%239CCECB' /%3E%3C/g%3E%3C/svg%3E");
  background-position: bottom;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100px;
  animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  z-index: 1;
  }
  
  .waves > article > div > #btn-group:nth-of-type(2) {
  opacity: 0.7;
  animation: swell 5s ease -1.25s infinite, wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite;
  z-index: 0;
  }
  
  @keyframes wave {
  0% {
  background-position-x: 0%;
  }
  100% {
  background-position-x: -500px;
  }
  }
  
  @keyframes swell {
  0%, 100% {
  background-position: right bottom 10px;
  }
  50% {
  background-position: right bottom 0;
  }
  }


  
  .card .author {
      font-weight: 500;
  }
  
  .card .prior {
      font-weight: 200;
  }