@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@900&display=swap");

.project-cards {
  border-radius: 1.5rem;
  border: solid 0.5rem rgb(117, 119, 121);
  height: 12rem;
}

.project-cards > div {
  height: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3px;
}
.project-cards > div > h2{
margin: 0;
}

.body {
  width: 90%;
  background-color: white;
  height: 5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dream {
  font-family: "Lora", serif;
  background-image: radial-gradient(circle, white 55%, #fdf8d7 56%);
  background-size: 10px 10px;
  background-size: 10px 10px;
}

.dream > h2 > a,
.dream > div > a {
  color: rgb(59 140 163);
}
.dream > .body {
  background-color: #6abdcd;
}

.meta {
  font-family: "Rowdies", cursive;
  background-image: radial-gradient(circle, black 55%, #471a19 56%);
  background-size: 10px 10px;
}

.meta > h2 {
  font-family: "MuseoModerno", cursive !important;
}

.meta > h2 > a,
.meta > div > a {
  color: #ff9c12;
}
.meta > .body {
  background-color: #ff9c12;
}

.calculator {
  color: rgb(255, 255, 255);
  background-image: radial-gradient(circle, black 55%, rgb(67, 76, 100) 56%);
  background-size: 10px 10px;
  font-family: "Rajdhani", sans-serif;
}

.calculator > h2 > a,
.calculator > div > a {
  color: rgb(255, 255, 255);
}
.calculator > .body {
  background-color: rgb(160, 149, 123);
}
/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
.card .author {
  font-weight: 500;
}

.card .prior {
  font-weight: 200;
}
