.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-container {
  width: 50%;
}

.timestamp {
  position: relative;
}

.year {
  position: relative;
}

.year::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #fa0000; /* Set the color of the point */
  border-radius: 50%;
}

.timestamp > h3,
.timestamp > h5,
.timestamp > p {
  color: white;
  font-family: "Comfortaa", cursive;
}

.space-items {
  position: relative;
  display: flex;
  flex-direction: row;
    justify-content: space-around;
  width: 100%;
  height: 30rem;
}

#space-goumble {
height: 17.5rem;
width: 17.5rem;
  animation: floating 20s infinite linear;
}
#space-goumble > img{
    height: 17rem;
    width: 17rem;
}
@keyframes floating {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
#space-ship {
  width: 30%;
}
