.parent-container {
  width: 93%;
  margin: 0 auto;
  padding: 0;
}

.Background {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
}

.Star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Lora&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

header{
    color: white;
    /* FIX THIS */
    font-family: 'Zen Dots', cursive;
}

.site-intro {
  font-size: clamp(1.5rem, 1.8vw, 2.1rem);
}

a:link {
  text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.button-effect {
  display: block;
  transform: scale(1);
  transition: transform 0.23s ease-in-out;
}

.button-effect:hover {
  transform: scale(1.13);
  filter: drop-shadow(0 0 10px rgba(0, 5, 9, 0.319));
  z-index: 999;
}

/* Disable hover effects on mobile */
@media (max-width: 768px) {
  .button-effect:hover {
    transform: scale(1);
    filter: none;
  }
}